<div class="features">
  <div class="feature">
    <i class="fas fa-globe"></i>
    <span>Gratis frakt och returer</span>
  </div>
  <div class="feature">
    <i class="fas fa-plane"></i>
    <span>Expressfrakt</span>
  </div>
  <div class="feature">
    <i class="fas fa-shield-alt"></i>
    <span>Säkra betalningar</span>
  </div>
  <div class="feature">
    <i class="fas fa-smile"></i>
    <span>Nyheter varje dag</span>
  </div>
</div>
<footer>
  <div>
    <h4>Shopping</h4>
    <p>Vinterjackor</p>
    <p>Pufferjackor</p>
    <p>Kappa</p>
    <p>Trenchcoats</p>
  </div>
  <div>
    <h4>Mina Sidor</h4>
    <p>Mina Ordrar</p>
    <p>Mitt Konto</p>
  </div>
  <div>
    <h4>Kundtjänst</h4>
    <p>Returnpolicy</p>
    <p>Integritetspolicy</p>
  </div>
</footer>
<h2 class="end">&#64;Freaky fashion</h2>
