.spots {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolumner */
  gap: 1rem; /* valfritt mellanrum mellan korten */
}

.spot {
  position: relative;
}

.spot img {
  width: 100%;
  max-width: 400px;
  display: block;
}

.spot-text {
  position: absolute;
  bottom: 70px;
  left: 70px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}
