<div class="product-grid">
  <app-product-card
    *ngFor="let product of products"
    [name]="product.name"
    [brand]="product.brand"
    [price]="product.price"
    [imageUrl]="product.localImageUrl"
    [id]="product.id">

  </app-product-card>
</div>
<div class="features">
  <div class="feature">
    <i class="fas fa-globe"></i>
    <span>Gratis frakt och returer</span>
  </div>
  <div class="feature">
    <i class="fas fa-plane"></i>
    <span>Expressfrakt</span>
  </div>
  <div class="feature">
    <i class="fas fa-shield-alt"></i>
    <span>Säkra betalningar</span>
  </div>
  <div class="feature">
    <i class="fas fa-smile"></i>
    <span>Nyheter varje dag</span>
  </div>
</div>
